<app-container>
    <div class="p-5 grid grid-cols-1
        sm:grid-cols-12 sm:gap-4"
    >
        <div class="col-span-1 sm:col-span-2">
            <div class="flex flex-wrap items-center justify-center p-5">
                <img src="assets/1541430758243.jpeg" class="rounded-full"/>
            </div>
        </div>
        <div class="col-span-1 sm:col-span-10">
            <div class="flex flex-wrap items-center p-5">
                <p>A Dynamic business professional with more than 3 years of work experience across various industries and roles, including 1.5+ years of experience in technical roles. In-depth knowledge of business statistics, software development methodologies, machine learning, natural language processing, and technical writing & documentation. Skilled in programming to perform data cleaning, data mining & wrangling, and data visualization for both structured & unstructured data. Exceptional leadership, customer service, and interpersonal communication skills, with a strong sense of cultural awareness and inclusivity. Passionate about solving complex business problems using data-driven solutions with critical thinking, creativity, and the application of technology.</p>
            </div>
        </div>
    </div>
    <div class="p-5">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Technical Expertise</mat-panel-title>
                    <mat-panel-description class="!hidden sm:!block">
                        <p class="font-light">This section is a graphical summary of my skills and technological experience</p>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-4">
                    <div class="sm:p-2">
                        <app-plotly-bar-chart [inputData]="portfolioStore.skillChart()"></app-plotly-bar-chart>
                    </div>
                    <div class="sm:p-2">
                        <app-plotly-pie-chart [inputData]="portfolioStore.technologyChart()"></app-plotly-pie-chart>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Career Timeline</mat-panel-title>
                    <mat-panel-description class="!hidden sm:!block">
                        <p class="font-light">This section is a graphical representation of my work history and education</p>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</app-container>

