<app-container>
    <div class="h-screen bg-gray-900 flex items-center justify-center">
        <div class="block mb-50 p-3">
            <h1 class="text-6xl text-white text-center font-bold py-2">Kunal Jeshang</h1>
            <h3 class="text-lg text-white text-center font-thin">Data Analyst & Business Intelligence Developer</h3>
            <ul class="flex items-center justify-between text-white">
                <li>GitHub</li>
                <li>LinkedIn</li>
                <li>WordPress</li>
            </ul>
        </div>
    </div>
</app-container>