<app-container>
    @if(portfolioStore.loading() == true){
        <div class="flex items-center justify-center my-40">
            <mat-spinner></mat-spinner>
        </div>
    }
    @else {
        <div [formGroup]="projectForm" class="bg-gray-700">
            <div class="flex items-center">
                <mat-form-field 
                    class="block p-2 mt-1"
                >
                    <mat-label>Search</mat-label>
                    <input 
                        matInput 
                        type="text" 
                        formControlName="queryFormControl"
                        (input)="onQueryInput()"
                        placeholder="Search Keyword"
                    >
                </mat-form-field>
                <mat-form-field class="block p-2 mt-1">
                    <mat-label>Skills</mat-label>
                    <mat-select 
                        multiple="true"
                        formControlName="skillsFormControl"
                        placeholder="Select Skills"
                        (selectionChange)="onSelectSkill($event)"
                    >
                      @for (item of portfolioStore.uniqueSkills(); track item) {
                        <mat-option [value]="item">{{item}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>
                <div class="flex items-center justify-end ml-auto">
                    <mat-button-toggle-group 
                        formControlName="orderFormControl" 
                        (change)="onOrderButtonToggle($event)"
                        class="mx-2"
                    >
                        <mat-button-toggle value="asc" class="!bg-gray-800 !text-white hover:!bg-gray-600">Asc</mat-button-toggle>
                        <mat-button-toggle value="desc" class="!bg-gray-800 !text-white hover:!bg-gray-600">Desc</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 p-5 bg-gray-200">
            @for(item of portfolioStore.filteredProjectData(); track $index){
                <div class="flex items-center h-full">
                    <mat-card appearance="outlined">
                        <mat-card-header>
                            <div mat-card-avatar>
                                <img mat-card-image [src]="item.image" class="h-10 w-15">
                            </div>
                            <div class="flex items-center px-2 mb-3 text-center">
                                <p class="font-medium">{{ item.title }}</p>
                            </div>
                        </mat-card-header>
                        <mat-card-subtitle>
                            <p class="text-center px-2 mb-2 font-thin">{{ item.skill }}</p>
                        </mat-card-subtitle>
                        <mat-card-content>
                            <p class="tracking-wide">{{ item.description }}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>
                                <a [href]="item.link" target="_blank">View Here</a>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            }
        </div>
    }
</app-container>

