<section class="min-h-screen flex w-full">
    <div class="grid grid-cols-1 w-full">
        @for(item of portfolioStore.careerData(); track $index){
            <div class="flex flex-row items-center">
                <mat-icon class="flex-shrink-0">
                    @switch (item.type) {
                        @case ('Job') {
                            work
                        }
                        @case ('Volunteer') {
                            volunteer_activism
                        }
                        @case ('Student') {
                            school
                        }
                        @default {
                            radio_button_unchecked
                        }
                    }
                </mat-icon>
                <mat-card class="mx-6 my-2 p-6 rounded-md shadow-md w-full">
                    <mat-card-header>
                        <mat-card-title-group class="flex-col">
                            <p class="font-bold">{{ item.position }}</p>
                            <p>{{ item.company }}</p>
                            <p class="font-light">{{ item.startDate }} - {{ item.endDate }}</p>
                            <p class="font-light">{{ item.location }}</p>
                        </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem possimus voluptate deleniti, voluptas sunt rerum beatae dolor cumque aliquid recusandae praesentium veritatis aliquam a qui blanditiis ullam laboriosam, amet quos?
                    </mat-card-content>
                        <mat-card-footer>
                            @if(item.link !== ''){
                                <mat-card-actions>
                                    <button mat-button>
                                        <a [href]="item.link" target="_blank">
                                            Click Here to view more information
                                        </a>
                                    </button>
                                </mat-card-actions>
                            }
                        </mat-card-footer>
                </mat-card>
            </div>
        }
    </div>
</section>
